@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

.slider {
  -webkit-appearance: none; /* Safari & older Chromium */
  appearance: none;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

/* WebKit Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url("../src/assets/slide_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
}

/* Firefox Thumb */
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-image: url("../src/assets/slide_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

